$color1: #fafafa;
$color2: white;
$color3: #eaeaea;
$color4: #b0b0b0;
$color5: #ef233c;
$color6: #6c757d;
$color7: #adb5bd;
$color8: #4895ef;
$color9: #ade8f4;
$color10: #cccccc;
$color11: #f94144;
$color12: #f3722c;
$color13: #f8961e;
$color14: #fff;
$color15: black;
$color16: #111;
